#screen {
    position: relative;
    overflow: hidden;
}

body {
    margin: 0;
}

.hide {
    display: none;
}



#game_background {
    background-image: url(grafik/Baggrund.svg);
    background-size: cover;
    width: 100%;
    height: 56.25vw;
    position: relative;
    overflow: hidden;
    overflow: hidden;

}

#game_elements {
    position: relative;
}

#mus {
    background-image: url(grafik/mus_sprite.svg);
    display: inline-block;
    background-size: 500% 100%;
    width: 20vw;
    height: 20vw;
    position: absolute;
    bottom: -1vw;
    left: 40vw;
}

.mus {
    background-position: 0;
}

.mus_kast {
    background-position: -400% 0;
}

.musearm {
    animation-name: musearm;
    animation-duration: 0.0001s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: steps(4);
}

@keyframes musearm {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -400% 0;
    }
}


/*KATTE DER KOMMER IND FRA VENSTE*/

#kat_right1 {
    background-image: url(grafik/Kat%20mod%20h%C3%B8jre.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 23vw;
    height: 17vw;
    position: absolute;
    bottom: 40vw;
    left: -25vw;
}


.kr1_komind {
    animation-name: kr1_komind;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 1s;
}

@keyframes kr1_komind {
    0% {
        transform: rotate(0deg) translate(-20vw, -10vw) scale(1);

    }

    100% {
        transform: rotate(35deg) translate(64vw, -15vw) scale(1);
    }
}

/*
.pos1 {
    bottom: 40vw;
    left: -25vw;
}

.type1 {
    background-image: url(grafik/Kat%20mod%20h%C3%B8jre.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 23vw;
    height: 17vw;
    position: absolute;
}

.ani1 {
    @keyframes kr1_komind {
        0% {
            transform: rotate(0deg) translate(-20vw, -10vw) scale(1);

        }

        100% {
            transform: rotate(35deg) translate(64vw, -15vw) scale(1);
        }
    }
}
*/

#kat_right2 {
    background-image: url(grafik/Kat%20mod%20h%C3%B8jre.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 23vw;
    height: 17vw;
    position: absolute;
    bottom: 20vw;
    left: -25vw;
}

.kr2_komind {
    animation-name: kr2_komind;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 2;
}

@keyframes kr2_komind {
    0% {
        transform: rotate(-10deg) translate(-50vw, -25vw) scale(1);

    }

    100% {
        transform: rotate(0deg) translate(55vw, 10vw) scale(1);
    }
}

.paused {
    animation-play-state: paused;
}


#kat_right3 {
    background-image: url(grafik/Kat%20mod%20h%C3%B8jre.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 23vw;
    height: 17vw;
    position: absolute;
    bottom: 0vw;
    left: -25vw;
}

.kr3_komind {
    animation-name: kr3_komind;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 3s;
}

@keyframes kr3_komind {
    0% {
        transform: rotate(-20deg) translate(-60vw, -20vw) scale(1);

    }

    100% {
        transform: rotate(-20deg) translate(45vw, 15vw) scale(1);
    }
}


/*KATTE DER KOMMER IND FRA HØJRE*/

#kat_left1 {
    background-image: url(grafik/Kat%20mod%20venstre.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 23vw;
    height: 17vw;
    position: absolute;
    bottom: 40vw;
    right: -25vw;
}

.kl1_komind {
    animation-name: kl1_komind;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 3s;
}

@keyframes kl1_komind {
    0% {
        transform: rotate(-0deg) translate(20vw, -10vw) scale(1);

    }

    100% {
        transform: rotate(-35deg) translate(-64vw, -15vw) scale(1);
    }
}

#kat_left2 {
    background-image: url(grafik/Kat%20mod%20venstre.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 23vw;
    height: 17vw;
    position: absolute;
    bottom: 20vw;
    right: -25vw;
}

.kl2_komind {
    animation-name: kl2_komind;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 2s;
}

@keyframes kl2_komind {
    0% {
        transform: rotate(10deg) translate(50vw, -25vw) scale(1);

    }

    100% {
        transform: rotate(0deg) translate(-55vw, 10vw) scale(1);
    }
}

#kat_left3 {
    background-image: url(grafik/Kat%20mod%20venstre.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 23vw;
    height: 17vw;
    position: absolute;
    bottom: 0vw;
    right: -25vw;
}

.kl3_komind {
    animation-name: kl3_komind;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 1s;
}

@keyframes kl3_komind {
    0% {
        transform: rotate(20deg) translate(60vw, -20vw) scale(1);

    }

    100% {
        transform: rotate(20deg) translate(-45vw, 15vw) scale(1);
    }
}


/*VÅDEKATTE*/

#wetkat_left {
    background-image: url(grafik/Kat%20v%C3%A5d%20-%20mod%20h%C3%B8jre.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 23vw;
    height: 17vw;
    position: absolute;
    bottom: 9vw;
    right: 14vw;
}

.wkl1_komind {
    animation-name: wkl_komind;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

@keyframes wkl_komind {
    0% {
        transform: translate(0vw, 0vw) scale(1);
        opacity: 1;

    }

    100% {
        transform: translate(0vw, 30vw) scale(1);
        opacity: 0;
    }
}

#wetkat_right {
    background-image: url(grafik/Kat%20v%C3%A5d%20-%20mod%20venstre.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 23vw;
    height: 17vw;
    position: absolute;
    bottom: 9vw;
    left: 14vw;
}

.wkr1_komind {
    animation-name: wkr_komind;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

@keyframes wkr_komind {
    0% {
        transform: translateY(0vw) scale(1);
        opacity: 1;

    }

    100% {
        transform: translateY(30vw)scale(1);
        opacity: 0;
    }
}



#ost {
    background-image: url(grafik/Ost.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 10vw;
    height: 10vw;
    position: absolute;
    bottom: 27vw;
    left: 42vw;
}

#ost2 {
    background-image: url(grafik/Ost.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 10vw;
    height: 10vw;
    position: absolute;
    bottom: 3vw;
    left: 24vw;
}

#ost3 {
    background-image: url(grafik/Ost.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 10vw;
    height: 10vw;
    position: absolute;
    bottom: 24vw;
    right: 4vw;
}

.ost_forsvind {
    animation-name: ost_forsvind;
    animation-duration: 1.5s;
    animation-iteration-count: 1;

}

@keyframes ost_forsvind {
    0% {
        transform: rotate(0deg) scale(1);
    }

    100% {
        transform: rotate(360deg) scale(0);

    }
}

.ost_komind {
    animation-name: ost_komind;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes ost_komind {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(10vw);
    }
}



#game_ui {
    position: relative;
}

#points {
    background-image: url(grafik/Plus%20point.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 15vw;
    height: 15vw;
    position: absolute;
    bottom: 7vw;
    right: 17vw;
}

.plus {
    animation-name: plus;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes plus {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: scale(1.2);
    }
}


#minus_points {
    background-image: url(grafik/Minus%20point.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 15vw;
    height: 15vw;
    position: absolute;
    top: -38vw;
    left: 40vw;
}

.minus {
    animation-name: minus;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes minus {
    0% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

.energi {
    background-image: url(grafik/Ostemeter%201.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30vw;
    height: 10vw;
    position: absolute;
    bottom: 46vw;
    right: 0vw;
}

.energi1 {
    background-image: url(grafik/Ostemeter%202.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30vw;
    height: 10vw;
    position: absolute;
    bottom: 46vw;
    right: 0vw;
}

.energi2 {
    background-image: url(grafik/Ostemeter%203.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30vw;
    height: 10vw;
    position: absolute;
    bottom: 46vw;
    right: 0vw;
}

.energi3 {
    background-image: url(grafik/Ostemeter%204.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30vw;
    height: 10vw;
    position: absolute;
    bottom: 46vw;
    right: 0vw;
}

.energi4 {
    background-image: url(grafik/Ostemeter%205.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30vw;
    height: 10vw;
    position: absolute;
    bottom: 46vw;
    right: 0vw;
}

.energi5 {
    background-image: url(grafik/Ostemeter%206.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30vw;
    height: 10vw;
    position: absolute;
    bottom: 46vw;
    right: 0vw;
}

#time {
    font-family: luckiest guy;
    font-size: 1.8rem;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20vw;
    height: 10vw;
    position: absolute;
    bottom: 46vw;
    left: 6vw;
}

#indstillinger {
    background-image: url(grafik/Settings.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 7vw;
    height: 6vw;
    position: absolute;
    bottom: 50vw;
    left: 0vw;
    z-index: 1;
}

#start {
    background-image: url(grafik/Titelsk%C3%A6rm.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    margin: auto;
    overflow: hidden;
    top: 0;
    left: 0;
}

#cool {
    background-image: url(grafik/Stjerne.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 6vw;
    height: 6vw;
    position: absolute;
    bottom: 38vw;
    left: 46vw;
    opacity: 0;
}

.coolstjerne {
    animation-name: cool;
    animation-duration: 3.5s;
    animation-iteration-count: 1;

}

@keyframes cool {
    0% {
        transform: rotate(0deg) scale(0);
        opacity: 0;
    }

    25% {
        transform: rotate(0deg) scale(0);
        opacity: 0;
    }

    60% {
        transform: rotate(400deg) scale(1);
        opacity: 1;
    }

    100% {
        transform: rotate(700deg) scale(0);
        opacity: 0;
    }
}

.fade_out {
    animation-name: fadeout_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeout_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fade_in {
    animation-name: fade_in;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fade_in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.blur {
    filter: blur(10px);
}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}


@keyframes pulse_kf {
    0% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1);
    }
}

#score {
    position: absolute;
    left: 60vw;
    bottom: 34vw;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.63);
    font-family: luckiest guy;
    z-index: 1;
}

#play {
    background-image: url(grafik/Play%20knap.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 33vw;
    height: 20vw;
    position: absolute;
    top: 38vw;
    left: 35vw;
    cursor: pointer;

}

#intro {
    background-image: url(grafik/Intro.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 75vw;
    height: 42vw;
    position: absolute;
    bottom: 7vw;
    left: 13vw;
}

#intro2 {
    background-image: url(grafik/Intro%202.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 72vw;
    height: 42vw;
    position: absolute;
    bottom: 7vw;
    left: 13vw;
}

#pil {
    background-image: url(grafik/Pil.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 15vw;
    height: 15vw;
    position: absolute;
    bottom: 33vw;
    right: 11vw;
    cursor: pointer;
}



#introplayknap {
    background-image: url(grafik/Intro%20play%20knap.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 25vw;
    height: 20vw;
    position: absolute;
    bottom: 5vw;
    right: 15vw;
    cursor: pointer;
}

#settings {
    background-image: url(grafik/Settingssk%C3%A6rm.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;


}

#settingsmenu {
    background-image: url(grafik/Settingsmenu.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 53vw;
    height: 30vw;
    position: absolute;
    bottom: 12.8vw;
    left: 23vw;
}

#lydknap {
    background-image: url(grafik/Lyd%20knap.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 13vw;
    height: 14vw;
    position: absolute;
    bottom: 12vw;
    left: 56vw;

}

#mutelydknap {
    background-image: url(grafik/Lyd%20knap%20slukket.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 13vw;
    height: 14vw;
    position: absolute;
    bottom: 12vw;
    left: 56vw;
}

#musikknap {
    background-image: url(grafik/Musik%20knap.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 13vw;
    height: 14vw;
    position: absolute;
    bottom: 12vw;
    left: 31vw;
}

#mutemusikknap {
    background-image: url(grafik/Musik%20knap%20slukket.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 13vw;
    height: 14vw;
    position: absolute;
    bottom: 12.65vw;
    left: 31.3vw;
}

#luk {
    background-image: url(grafik/lukke%20knap.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 6vw;
    height: 5vw;
    position: absolute;
    bottom: 34.7vw;
    left: 26.7vw;
}


#gameover {
    background-image: url(grafik/Game%20over%20sk%C3%A6rm.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 70vw;
    height: 40vw;
    position: absolute;
    bottom: 9vw;
    left: 16vw;
}


#levelcomplete {
    background-image: url(grafik/Win%20sk%C3%A6rm.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 70vw;
    height: 40vw;
    position: absolute;
    bottom: 9vw;
    left: 16vw;
}

#spiligen {
    background-image: url(grafik/Spil%20igen.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 15vw;
    height: 14vw;
    position: absolute;
    bottom: 8vw;
    right: 13vw;
}
